// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Fonts ---------------------------------------
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,300,200);
@import url(http://fonts.googleapis.com/css?family=BenchNine:300,400,700);
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: desaturate(darken(#709ad0, 25%), 10%);
$mainFont: 'Yanone Kaffeesatz', sans-serif;
$mainFontSize: 40px;
$headingFont: 'BenchNine';
$headingTextShadow: 0px 2px 6px rgba(0,0,0,0.4);
$heading1TextShadow: $headingTextShadow;
$linkColor: #fff;
$linkColorHover: rgba(#fff, 0.6);
$selectionBackgroundColor: desaturate(darken(#709ad0, 25%), 10%);
$selectionColor: #fff;

// Body background with SVG clouds and gradient
@mixin cloudFourBackgroundImage($outer, $inner) {
  background: $outer;
  background-image: url('/assets/cloud.svg'), url('/assets/cloud.svg'), -moz-radial-gradient( center, $inner 0%, $outer 100% );
  background-image: url('/assets/cloud.svg'), url('/assets/cloud.svg'), -webkit-gradient( radial, center center, 0px, center center, 100%, color-stop(0%,$inner), color-stop(100%,$outer) );
  background-image: url('/assets/cloud.svg'), url('/assets/cloud.svg'), -webkit-radial-gradient( center, $inner 0%, $outer 100% );
  background-image: url('/assets/cloud.svg'), url('/assets/cloud.svg'), -o-radial-gradient( center, $inner 0%, $outer 100% );
  background-image: -ms-radial-gradient( center, $inner 0%, $outer 100% );
  background-image: url('/assets/cloud.svg'), url('/assets/cloud.svg'), radial-gradient( center, $inner 0%, $outer 100% );
}
@mixin bodyBackground() {
  @include cloudFourBackgroundImage($backgroundColor, lighten($backgroundColor, 25%));
  background-repeat: no-repeat;
  background-position: -25% 120%, 125% 120%, center;
  background-size: 40% auto, 40% auto, cover;
}

// Overrides
.reveal {
  text-shadow: 0 1px 2px rgba(#000, 0.3);
}
.reveal h1 {
  font-size: 4.5em;
  font-style: italic;
}

// Definition lists
.reveal dl {
  margin-top: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 2px rgba(#000, 0.2);
  padding: 15px 20px;
}
.reveal dt,
.reveal dd {
  margin-bottom: 20px;
}
.reveal dt {
  float: left;
  text-transform: uppercase;
  &:after {
    content: ':';
  }
}
.reveal dd {
  margin-left: 22%;
}

// Quotes and citations
.reveal blockquote {
  box-shadow: 0 1px 2px rgba(#000, 0.2);
  font-style: normal;
  padding: 10px 24px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.reveal blockquote:before {
  content: '\201C';
}
.reveal blockquote:after {
  content: '\201D';
}
// .reveal blockquote cite,
.reveal .citation {
  display: block;
  font-size: 0.85em;
  margin: 5px auto;
  text-align: right;
  width: 70%;
}
// .reveal blockquote cite::before,
.reveal .citation::before {
  content: '— ';
}

// Code output
.reveal pre code {
  background-color: rgba(#000, 0.6);
}

// Custom highlight style
.reveal .slides section .fragment.highlight-cloudfour {
  background-color: rgba(#fff, 0);
  border-radius: 0.125em;
  opacity: 1;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 250ms ease-out;
}
.reveal .slides section .fragment.highlight-cloudfour.visible {
  background-color: rgba(#fff, 1);
  color: #ff5f25;
  text-shadow: none;
}

// Logo
.reveal section img.logo {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin-top: -4%;
  width: 40%;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Progress bar color
.reveal .progress {
  background-color: rgba(#fff, 0.2);
}